// Fonts
$primaryFont : "Inter Tight";


// Font Sizing
$baseFontSize      : 16px;
$baseLineHeight    : 1.4;
$headingLineHeight : 1.3;

// Colors

$black : #000000;
$dark : #27252F;
$white : #ffffff;
$blueLight : #EBF5EF;
$gray : #8A8E91;
$yellow : #E8FB87;
$red : #F0392D;
$orange: #F2512E;

// Spacing
$pad : 1em;

// Breakpoints
$extraSmallBreakpoint : 476px;
$smallBreakpoint : 768px;
$largeBreakpoint : 1024px;
$extraLargBreakpoint : 1600px;

